{% raw %}
<div class="input-group input-group-sm">
  <canvas id="signature-canvas" width="300" height="100"></canvas>
  <input id="signature-data" type="hidden">
</div>
<div class="input-group input-group-sm">
  <button type="button" class="btn btn-success input-save-btn">OK</button>
  <button type="button" class="btn btn-danger input-delete-btn">Cancel</button>
</div>
{% endraw %}
